
extends layout

block content	

	<!--Navbar Content-->
	navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
		.container-fluid
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(id='logo', href='./')
					img(alt='Home', src='/images/logo.png' class='img-rounded' width='50' height='50')
			nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
				ul.nav.navbar-nav.navbar-right 
					li
						a(href='/login') 
							i.glyphicon.glyphicon-log-in
							span  Admin	
					li
						a(href='/indexLogout') 
							i.glyphicon.glyphicon-log-out
							span  Log out

	table.table
		each question in questions
			tr
				td
					div.content
						form(method='post', action='/')
							p.text-center.lead #{question.question}
							if question.type =='single' 
								each choice in choices.get(question.id)
									.col-md-4
									.radio
										label
											input(type='radio', name='choice_id', id='choice_id_'+ choice.id, value=choice.id)
											p=choice.choice
								.col-md-4
								button.btn.btn-primary.btn-lg(type='submit', role='button', onclick='popup()') Submit
							if question.type == 'multi' 
								each choice in choices.get(question.id)
									.col-md-4
									.checkbox
										label
											input(type='checkbox', name='choice_id', id='choice_id_'+ choice.id, value=choice.id)
											p=choice.choice
								.col-md-4
								button.btn.btn-primary.btn-lg(type='submit', role='button', onclick='popup()') Submit
							if question.type == 'text'
								.form-group
									textarea.input-lg.form-control(id='question_answer', type='text', name='question_answer', placeholder='Plese enter your answer', required)
									p
									button.btn.btn-primary.btn-lg(type='submit', role='button', onclick='popup()') Submit
							p
								
							input(type='hidden', name='question_id', id='question_id', value=question.id)
							input(type='hidden', name='guest_id', id='guest_id', value=guest.id)
							input(type='hidden', name='question_type', id='question_type', value=question.type)
							
							script(type='text/javascript').
								function popup(){
									swal({
										position: 'center',
										type: 'success',
										title: 'Questionnaire saved!',
										showConfirmButton: false,
										timer: 2500
										});
								};
								function wait(ms)
								{
									var d = new Date();
									var d2 = null;
									do { d2 = new Date(); }
									while(d2-d < ms);
								};

